form {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;

  .action-button {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover, &:focus {
      color: #1f1f1f;
      background-color: transparent;
      border-color: #1f1f1f;
    }

    &:first-child {
      margin-right: 5px;
    }

  }

  .step-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 20px;
  }

}

.text-input {
  min-height: 48px;
  border: none;
  background: #f5f5f5;
  color: #1f1f1f;
  width: 100%;
  padding-left: 12px;
  font-size: 14px;
  margin-bottom: 8px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-group {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}