.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  &-main {
    position: fixed;
    height: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 40%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    flex: 1 1 auto;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
  }

  button.close {
    position: absolute;
    right: 30px;
    top: 12px;
    opacity: 1;
    background-color: transparent;
    border: 0;
    appearance: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
  }

  &-content {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    word-break: break-all;
  }
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}