@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: #fff;
}

body {
  font-family: montserrat, arial, verdana;
}

.app {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.register-header {
  font-size: 1.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.form-group {
  margin-bottom: .3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form-label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #1f1f1f;
}

.bg-dark {
  background-color: #1f1f1f !important;
}

.text-white {
  color: #fff !important;
}